/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

body {
  font-family: "Bree Serif", serif;
}
main {
  padding: 80px;
}

#testoAlternato {
  border: 2px solid black;
  padding: 20px;
  font-size: 1.4rem;
  line-height: 1.4;
  display: flex;
  position: relative;
}

.parole i {
  color: rgb(255, 166, 0);
  position: absolute;
  padding-left: 0.5rem;
}

.textOne {
  animation: rotazione 10s 0s infinite;
}

.textTwo {
  opacity: 0;
  animation: rotazione 10s 4s infinite;
}

.textThree {
  opacity: 0;
  animation: rotazione 10s 8s infinite;
}

@keyframes rotazione {
  0% {
    transform: translate(0, -30px);
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    transform: translate(0px);
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  100% {
    transform: translate(0, 30px);
    opacity: 0;
  }
}
