body {
  background-color: #666666;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 70px;
}

.card {
  margin: 18px;
  width: 15rem;
  height: 25vh;
  padding: 15px;
  box-shadow: 0px 12px 28px -10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 12px 28px -10px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.yellow {
  background: linear-gradient(180deg, #ffffd2 0%, #afb4a2 100%);
  position: relative;
  animation-name: fromTop;
  animation-duration: 3s;
  animation-delay: 0.3s;
  animation-fill-mode: both;
}

@keyframes fromTop {
  from {
    top: -600px;
  }
  to {
    top: 0px;
  }
}

.green {
  background: linear-gradient(180deg, #d7fed3 0%, #a2b4a3 100%);
  position: relative;
  animation-name: delayFromTop;
  animation-duration: 2s;
  animation-delay: 0.8s;
  animation-fill-mode: both;
}

@keyframes delayFromTop {
  from {
    top: -700px;
  }
  to {
    top: 0px;
  }
}

.violet {
  background: linear-gradient(180deg, #cccbf7 0%, #8b8c9a 100%);
  position: relative;
  animation-name: delayFromTop2;
  animation-duration: 2s;
  animation-delay: 1.3s;
  animation-fill-mode: both;
}

@keyframes delayFromTop2 {
  from {
    top: -600px;
  }
  to {
    top: 0px;
  }
}

.uno {
  position: relative;
  animation-name: delayFromTop3;
  animation-duration: 2s;
  animation-delay: 1.3s;
  animation-fill-mode: both;
}

@keyframes delayFromTop3 {
  from {
    top: -1300px;
  }
  to {
    top: 0px;
  }
}

.text h3 {
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.sx {
  transform: rotate(-5deg);
  transition: 0.7s all ease;
}

.dx {
  transform: rotate(5deg);
  transition: 0.7s all ease;
}

.sx:hover,
.dx:hover {
  scale: 1.3;
  z-index: 2;
  transform: rotate(0deg);
  box-shadow: 0px 12px 28px -10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 12px 28px -10px rgba(0, 0, 0, 0.722);
}
